<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-area-content">
                    <img src="assets/img/logo/logohabox.png" alt="logo">
                    <p>Ofrecemos asesoramiento a nuestros clientes en todo lo referente a sus compras en línea.
                        Basta con que el cliente nos indique el sitio en que desea realizar su pedido y los
                        artículos a ordenar, nos encargamos todo el proceso de logística – desde la compra hasta
                        la entrega del producto al cliente</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Información de contacto</h3>

                    <ul class="footer-quick-links address-link">
                        <li><a href="#"><i class="fa fa-map-marker"></i> 17 avenida 31-93 zona 5, Ciudad de
                                Guatemala</a></li>
                        <li><a href="mailto:rbranca@haboxlogisticgt.com"><i class="fa fa-envelope"></i> rbranca@haboxlogisticgt.com</a></li>
                        <li><a href="tel:+50259900281"><i class="fa fa-phone"></i> +502 5990 0281</a></li>
                    </ul>

                    <ul class="social-list">
                        <li><a href="https://www.facebook.com/haboxlogistic/" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>                        
                        <li><a href="#" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class="far fa-copyright"></i>2022 Todo los derechos reservados <a href="https://haboxlogistic.com.gt/"
                            target="_blank"><strong>Haboxgt</strong></a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                   
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-up"></i>
</div>

<div class="sidebar-modal">
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>

                    <h2 class="modal-title" id="myModalLabel2">
                        <a routerLink="/">
                            <img src="assets/img/logo/logohabox.png" alt="logo">
                        </a>
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Bienvenido a Habox Logistic</h3>
                        <img src="assets/images/perritoshome.png" alt="image">
                        <p>Ofrecemos asesoramiento a nuestros clientes en todo lo referente a sus compras en línea.
                            Basta con que el cliente nos indique el sitio en que desea realizar su pedido y los
                            artículos a ordenar, nos encargamos todo el proceso de logística – desde la compra hasta
                            la entrega del producto al cliente</p>
                    </div>

                    <div class="sidebar-modal-widget">
                        <h3 class="title">Información de contacto</h3>

                        <ul class="contact-info">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                Dirección
                                <span>17 avenida 31-93 zona 5, Ciudad de Guatemala</span>
                            </li>

                            <li>
                                <i class="fa fa-phone"></i>
                                Email
                                <span>rbranca@haboxlogisticgt.com</span>
                            </li>

                            <li>
                                <i class="fa fa-envelope"></i>
                                Teléfono
                                <span>+502 5990 0281</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-modal-widget">
                        <h3 class="title">Conectate</h3>

                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/haboxlogistic/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>                            
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>