<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Detalle Servicios</h2>

                    <ul>
                        <li><a routerLink="/">Inicio</a></li>
                        <li>Detalle Servicios</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>P.O. Box - Courier</h3>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-headphones"></i>
                                    </div>
                                    <h3>Seguridad</h3>
                                    <p>Ten la seguridad que tus paquetes llegaran a tus manos.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-tag"></i>
                                    </div>
                                    <h3>Rápidez</h3>
                                    <p>Nuestro personal altamente capacitado hara lo posible para tener tu paquete con
                                        rápidez en tus manos.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-cyber-security"></i>
                                    </div>
                                    <h3>Logística</h3>
                                    <p>No te preocupes del proceso de importación, deja todo en nuestras manos.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-innovation"></i>
                                    </div>
                                    <h3>Cotización todo incluido</h3>
                                    <p>Nosotros nos encargamos desde cotizarlo, traerlo y llevarlo a la puerta de tu
                                        casa u oficina, con nuestra tarifa todo incluido.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="assets/images/servicios/servicio_pobox.png" alt="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="assets/images/servicios/servicio_compras.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>Compras por internet</h3>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-headphones"></i>
                                    </div>
                                    <h3>Seguridad</h3>
                                    <p>Buscamos en páginas certificadas y de alto prestigio para que recias productos de calidad.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-tag"></i>
                                    </div>
                                    <h3>Compromiso</h3>
                                    <p>Nuestro personal se compromete a darte la información en el tiempo oportuno.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-cyber-security"></i>
                                    </div>
                                    <h3>Sin cobros escondidos</h3>
                                    <p>El valor que te damos es el final, nuestro servicios son transparentes.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="productive-area-content">
                                    <div class="icon">
                                        <i class="flaticon-innovation"></i>
                                    </div>
                                    <h3>Nuestra tarjeta</h3>
                                    <p>Si tienes miedo de usar tu tarjeta, usa la nuestra y nosotros nos encargamos de todo el proceso de la logística.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>