<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Sobre nosotros</h2>

                    <ul>
                        <li><a routerLink="/">Inicio</a></li>
                        <li>nosotros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="circulate-image">
                    <img src="assets/images/perritoshome.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content-area">
                    <span>¿Quiénes somos?</span>
                    <h3>Habox Logistic </h3>
                    <p>Es una empresa dedicada a brindar el servicio de compras por internet y
                        P.O. BOX – Courier en Miami, Fl.
                    </p>
                    <p>Ofrecemos asesoramiento a nuestros clientes en todo lo referente a sus compras en línea.
                        Basta con que el cliente nos indique el sitio en que desea realizar su pedido y los
                        artículos a ordenar, nos encargamos todo el proceso de logística – desde la compra hasta
                        la
                        entrega del producto al cliente</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-we-do-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="we-do-content-area">
                    <span>¿Cómo lo hacemos?</span>
                    <h3>Habox Logistic te ayuda</h3>
                    <p>Si no deseas usar tu tarjeta de crédito/débito o no posees una, nosotros hacemos las compras por
                        ti.</p>
                    <p>Nuestro personal altamente capacitado en nuestras oficinas en Miami, recibirán tu paquete lo
                        clasificarán y nosotros nos encargamos de la logística para importarla hasta Guatemala. Llevarte
                        tu paquete en las mejores condiciones hasta la puerta de tu casa o recibirte con una gran
                        sonrisa en nuestras oficinas</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="we-do-image">
                    <img src="assets/images/perroslogin.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saying-section ptb-100">
    <div class="container">
        <div class="saying-title">
            <h3>Lo que nuestros clientes dicen de nosotros</h3>
        </div>

        <div class="saying-slides owl-carousel owl-theme">
            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Fácil de pedir y traer</h3>
                    <p>Fácil de pedir en línea y que llegue a un lugar donde seguro lo van a recibir y fácilmente lo van
                        a traer hasta la puerta.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/images/iconos_claros/perfil.png" alt="image">
                    </div>

                    <h4>Edwin</h4>
                    <span>Comprador feliz</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Buen servicio</h3>
                    <p>Fue muy facil pedir y que ellos me importaron el producto hasta la puerta de la casa.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/images/iconos_claros/perfil.png" alt="image">
                    </div>
                    <h4>Carlos</h4>
                    <span>Buen servicio</span>
                </div>
            </div>
            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>The best!!!!</h3>
                    <p>The best!!!!</p>
                    <div class="icon">
                        <img style="width: 30%;" src="assets/img/reactions/julio_garcia.jpeg" alt="image">
                    </div>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/images/iconos_claros/perfil.png" alt="image">
                    </div>
                    <h4>Julio</h4>
                    <span>Comprador complacido</span>
                </div>
            </div>
            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Excelente servicio</h3>
                    <p>El servicio fue bueno porque me entregaron a tiempo mi mercancia.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/images/iconos_claros/perfil.png" alt="image">
                    </div>
                    <h4>Fabiola</h4>
                    <span>Excelente servicio</span>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="update-section inner-update-section ptb-100">
    <div class="container">
        <div class="update-title">
            <h3>No te pierdas de ningún aviso</h3>
        </div>

        <form class="update-form">
            <input type="email" class="input-newsletter" placeholder="Ingresa tu email" name="EMAIL" required>
            <button type="submit">Suscríbete Newsletter</button>
        </form>
    </div>

    <div class="shape"><img src="assets/img/shape/shape19.png" alt="Images"></div>
    <div class="shape-2"><img src="assets/img/shape/shape20.png" alt="Images"></div>
</section>